---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I believe in an interactive and student-centered approach to teaching.  
My goal is to create an inclusive learning environment where students  
can engage deeply with course materials and apply their knowledge  
in real-world contexts.  

I emphasize the development of critical thinking, problem-solving,  
and data-driven decision-making skills, especially in the fields  
of Economics, Psychology, International Business, and Social Statistics.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}